%list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer-content {
    @extend %list;
    display: flex;
    justify-content: space-between;
    &__item {
        width: 300px;
    }
}

.email-form {
    &__email {
        background: linear-gradient(white, #84848497);
        border: 1px solid #999;
        padding: 5px;
        border-radius: 5px;
        font-size: 15px;
        color: rgb(121, 121, 121);
        width: 188px;
    }
    &__submit {
        width: 88px;
        background: linear-gradient(white, #84848497);
        border: 1px solid #999;
        padding: 5px;
        border-radius: 5px;
        font-size: 15px;
        color: rgb(218, 108, 24);
        font-weight: bold;
    }
}

.social {
    @extend %list;
    display: flex;
    flex-wrap: wrap;
    &__item {
        width: 50%;
    }
    &__link {
        display: flex;
        color: #999;
        font-size: 13px;
        text-decoration: none;
    }
    &__icon {
        width: 32px;
        margin-right: 10px;
    }
}

.from-blog {
    &__list {
        @extend %list;
    }
    &__item {
        &__title {
            color: #999;
            margin-bottom: 5px;
        }
    }
}

.last-twitter {
    &__list {
        @extend %list;
    }
    &__item {
        margin-top: 20px;
    }
}