%list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.logo {
    &__label {
        display: inline-block;
        font-size: 30px;
        color: #888;
    }

    &__text {
        margin-top: 0;
    }
}

.nav-main {
    &__list {
        @extend %list;

        display: flex;
        height: 70px;
        z-index: 100;
    }

    &__item {
        position: relative;

        display: flex;
        justify-content: center;
        flex-direction: column;

    }

    &__link {
        display: block;
        color: white;
        text-decoration: none;
        text-transform: uppercase;
        line-height: 70px;
        padding: 0 20px;

        &:hover {
            transition: all .5s;
            background: #6b6a6a;
        }
    }

    &_bg_dark {
        background: rgb(43, 43, 43);
    }

    &_border {
        border-radius: 10px;
    }
}

.extra-extra-menu {
    @extend %list;

    &__item {
        position: absolute;
        box-sizing: border-box;
        top: 0;
        left: 0;
        width: 100%;
        height: 40px;

        background: #00000000;
        z-index: -10;
    }

    &__link {
        position: absolute;
        color: #00000000;
        z-index: -10;
        width: 100%;
        line-height: 40px;
        padding: 0 20px;

        &:hover {
            background: rgb(109, 103, 103);
        }
    }
}

.extra-menu__item:hover .extra-extra-menu {
    &__item {
        transition: all 1s 0.1s;
        background: #afa8a8;
        z-index: 0;

        &:nth-child(1) {
            left: 100%;
        }
    
        &:nth-child(2) {
            left: 200%;
    
        }
    
        &:nth-child(3) {
            left: 300%;
    
        }
    }

    &__link {
        transition: all 0.5s;
        z-index: 0;

        color: #eeeeee;

    }
}

    

.extra-menu {
    @extend %list;

    &__item {
        position: absolute;
        box-sizing: border-box;
        top: 70px;
        left: 0;
        width: 100%;
        height: 40px;
        background: #afa8a8;

        &:nth-child(1) {
            z-index: -8;
        }
    
        &:nth-child(2) {
            z-index: -9;
        }
    
        &:nth-child(3) {
            z-index: -10;
        }
    }

    &__link {
        box-sizing: content-box;
        display: block;
        text-decoration: none;
        color: azure;
        padding: 5px 10px;

        &:nth-child(1) {
            padding: 10px 10px 5px 10px;
            z-index: -8;
        }

        &:hover {
            transition: all 0.5s;
            background: #7b7777;
        }
    }

    &__content {
        position: relative;
    }
}


.nav-main__item:hover .extra-menu__item {
    transition: all 1s;
    color: #a33232;

    &:nth-child(1) {
        top: 60px;
        z-index: 10;
    }

    &:nth-child(2) {
        top: 100px;
        z-index: 9;
    }

    &:nth-child(3) {
        top: 140px;
        z-index: 8;

    }
}