%list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.logo {
    &__label {
        display: inline-block;
        font-size: 30px;
        color: #888;
    }
    &__text {
        margin-top: 0;
    }
}

.nav-main {
    &__list {
        @extend %list;
        display: flex;
        height: 100%;
    }
    &__item {
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 0 20px;
    }
    &__link {
        color: white;
        text-decoration: none;
        text-transform: uppercase;
    }
    &_bg_dark {
        background: rgb(43, 43, 43);
    }
    &_border {
        border-radius: 15px;
    }
}